body {
    background-color: $black;
}
.disable-clicks {
    pointer-events: none;
  }
// Page Transition
.transition {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}
.transition_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.transition_figure {
    position: absolute;
    border: 4px solid white;
}

.transition_figure:nth-child(1) {
    left: 85vh;
    top: -10vh;
    width: auto;
    height: 80vh; 
      @include media-sm {
        height: 100vh;
    }
}
.transition_figure:nth-child(2) {
    left: 0;
    top: -25vh;
    width: auto;
    height: 100vh;
    @include media-sm {
        left: 0;
        top: -5vh;
        width: auto;
        height: 60vh;
    }
}
.transition_figure:nth-child(3) {
    right: -2vh;
    top: 0;
    width: auto;
    height: 90vh;
    z-index: 1;
    @include media-sm {
        height: 60vh;
    }
}
.transition_figure:nth-child(4) {
    left: 0;
    bottom: -30vh;
    width: auto;
    height: 90vh;
    @include media-sm {
        height: 75vh;
    }
}
.transition_figure:nth-child(5) {
    left: 45vw;
    bottom: -40vh;
    width: auto;
    height: 100vh;
    @include media-sm {
        left: 35vw;
        bottom: -15vh;
        height: 60vh;
    }
}
.transition_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}