
html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
   
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: clip;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }  
.disable-clicks {
    pointer-events: none;
  }
// Page Transition
.transition {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}
.transition_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $primary;
}

.preload {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-color: #121619;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 1.2s cubic-bezier(0.87, 0, 0.13, 1);
    #name {
        padding: 48px;
        span {
            font-size: 96px;
            color: $white;
            font-family: 'Phenomena-Regular', sans-serif;
        }
    }
}


body::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
    background-color: transparent; /* Hide scrollbar background */
}

body::-webkit-scrollbar-thumb {
    background-color: $black; /* Initial thumb color */ 
    &:hover {
        background-color: $cream; /* Initial thumb color */
    }
}

// cursor and popup

.show-text-trigger {
    cursor: none;
    z-index: 3;
}
.popup-wrapper {
    pointer-events: none;
    cursor: none;
    transform-origin: left;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    width: auto !important;
    height: auto !important;
    padding: 16px;
    mix-blend-mode: normal;
    background: $black;
    transition: clip-path 0.2s cubic-bezier(0.4, 0, 0.68, 0.06);
    .desc-text {
        cursor: none;
        max-width: 220px;
        display: inline;
    }
}

.cursor-follow {        
    position: fixed;
    pointer-events: none; 
    width: 34px;
    height: 28px;
    z-index: 999;
    opacity: 0;
    mix-blend-mode: difference;
    .eye {
        mix-blend-mode: normal !important;
    }
    &.hide {
        cursor: none !important;
        opacity: 0 !important;
        svg {
            opacity: 0;
        }
    }
    &.show {
        transition: opacity 0.3s;
        opacity: 1 !important;
    }
    &.hover-active {
        svg {
            path {
                stroke: $primary;
            }
        }
    }
}

#contacts {
    height: calc(100vh + 1px);
    canvas {
        filter: blur(8px) brightness(1);
        z-index: 1;
        position: fixed;
        top: 0;
    }
}
#about {
    canvas {
        filter: blur(8px) brightness(1);
        z-index: 1;
        position: fixed;
        top: 0;
    }
}


#cookie-box {
    padding: 12px 24px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    background: $white;
    z-index: 99;
    opacity: 0;
    border-top-left-radius: 4px;
    filter: blur(10px);
    transition: opacity 0.4s ease;
    &.show {
        transition: opacity 0.8s ease, filter 0.8s ease;
        opacity: 1 !important; 
        filter: blur(0px);
    }
    &.hidden {
        transition: opacity 0.4s ease, filter 0.4s ease;
        opacity: 0 !important;
        filter: blur(10px);
        pointer-events: none;
      }
    @include media-sm {
        width: 100%;
        height: auto;
        padding: 0px 20px;
    }
    a,p, button {
      color: $black;
      font-size: 14px;
      cursor: pointer;
    }
    a {
        transition: all 0.3s;
        &:hover {
            filter: blur(0.6px);
            transition: all 0.3s;
        }  
    }
  }

#scroll-icon {
    filter: blur(0px);
    opacity: 1;
    transition: opacity 0.4s ease, filter 0.4s ease;
    &.hide {
        filter: blur(10px);
        opacity: 0;
        transition: opacity 0.4s ease, filter 0.4s ease;
    }
}

.color-switcher {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    height: 26px;
    display: flex; 
    .current-color {
        scale: 0.75;
        svg {
            height: 26px;
            width: 26px;
        }
    }
    button {
        opacity: 0;
        filter: blur(10px);
        transform: rotate(45deg) scale(0.75);
        width: 0;
    }
}

.gsap-marker-scroller-start, .gsap-marker-scroller-end, .gsap-marker-start, .gsap-marker-end {
    opacity: 0 !important;
}

.page-transition {
    position: fixed;
    bottom: 20px;
    left: 20px;
    p {
        font-size: 64px;
        position: fixed;
        bottom: 0;
        white-space: nowrap;
        left: -150%;
        &.current {
            left: 0;
            opacity: 0;
            filter: blur(10px);
        }
    }
}

#gallery-page {
    .lightbox {
        position: fixed; 
        z-index: 9; 
        left: 0;
        top: 0;
        width: 80.5%; 
        height: 100vh; 
        height: 100svh;
        overflow: visible; 
        background-color:  rgba(0,0,0,1);
        scale: 1 !important;
        transition: all 0.4s cubic-bezier(0.4, 0, 0.68, 0.06);
        opacity: 0;
        filter: blur(10px);
        pointer-events: none;
        .lightbox-content {
            height: 100%;
            display: flex;
            justify-content: center;
            img {
                height: 100%;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }
        &.display {
          filter: blur(0px);
          pointer-events: all;
          scale: 1 !important;
          transition: all 0.6s cubic-bezier(0.4, 0, 0.68, 0.06);
          opacity: 1;
        }
        &.show {
          filter: blur(0px);
          pointer-events: all;
          scale: 1 !important;
          transition: all 0.6s cubic-bezier(0.4, 0, 0.68, 0.06);
          opacity: 1;
        }
        @media (max-width: 1024px) {
          overflow-y: scroll;
          margin-bottom: 48px;
        }
      }
      .lightbox-close {
        transform: rotate(45deg) scale(1.4);
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
        transition: all 0.3s;
          transform: rotate(135deg) scale(1.4);
        }
      } 

      .lightbox-close {
        position: fixed;
        top: 40px;
        right: -14px;
        color: #f1f1f1;
        font-size: 50px;
        font-weight: 300 !important;
        z-index: 99;
        cursor: pointer;
        @media (max-width: 1024px) {
            top: 5vh;
            right: 20px;
        }
      }

    .lightbox-prev,
    .lightbox-next {
        position: absolute;
        background: none;
        color: white;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        z-index: 10;
        background-color: rgba($color: #000000, $alpha: 0.1);
        border-radius: 6px;
        width: auto;
        svg {
            scale: 1.02;
        }
    }
        
    .lightbox-prev {
        left: 20px;
        bottom: 20px;
        @media (max-width: 1024px) {
          bottom: calc(5vh + 80px) !important;
          left: auto !important;
          right: 80px !important;
        }
      }
      
      .lightbox-next {
        left: calc(20px + 54px);
        bottom: 20px;
        @media (max-width: 1024px) {
          bottom: calc(5vh + 80px) !important;
          left: auto !important;
          right: 20px !important;
            }
        }

    .images {
        .columns {
            overflow: hidden;
            will-change: transform;
            .column {
                will-change: transform;
                display: flex;
                flex-direction: column;
                gap: 16px;
                height: fit-content;
                img {
                    will-change: transform;
                    object-fit: cover;
                }
            }

        }
    }
    .filters {
        position: fixed;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 12px;
        a {
            font-family: 'Phenomena-Regular', sans-serif;
            font-size: 24px;
            position: relative;
            &.active {
                pointer-events: none;
                &::before {
                  content: "";
                  position: absolute;
                  left: -45px;
                  top: 55%;
                  transform: translateY(-50%);
                  width: 60px;
                  height: 60px;
                  clip-path: circle(10% at 50% 50%);
                  background-color: #C83030;
                  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                  overflow: hidden;
                }
              }
        }
    }
}