body {
    background-color: $black;
}
.disable-clicks {
    pointer-events: none;
  }
// Page Transition
.transition {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}
.transition_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $primary;
}


.preload {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-color: $black;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 1.2s cubic-bezier(0.87, 0, 0.13, 1);
    // border-top: 2px solid $white;
    // border-left: 2px solid $white;
    // border-right: 2px solid $white;
    // border-bottom: 2px solid $white;
    #name {
        span {
            font-size: 96px;
            color: $white;
            font-family: 'Phenomena-Regular', sans-serif;
        }
    }
}


body::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
    background-color: transparent; /* Hide scrollbar background */
}

body::-webkit-scrollbar-thumb {
    background-color: $black; /* Initial thumb color */ 
    &:hover {
        background-color: $cream; /* Initial thumb color */
    }
}

// cursor and popup

.show-text-trigger {
    cursor: none;
    z-index: 3;
}
.popup-wrapper {
    pointer-events: none;
    cursor: none;
    transform-origin: left;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    width: auto !important;
    height: auto !important;
    padding: 16px;
    mix-blend-mode: normal;
    background: $black !important;
    transition: clip-path 0.2s cubic-bezier(0.4, 0, 0.68, 0.06);
    .desc-text {
        cursor: none;
        max-width: 220px;
        display: inline;
    }
}

.cursor-follow {        
    position: fixed;
    pointer-events: none; 
    width: 34px;
    height: 28px;
    mix-blend-mode: difference;
    z-index: 999;
    opacity: 0;
    &.hide {
        cursor: none !important;
        opacity: 0 !important;
        svg {
            opacity: 0;
        }
    }
    &.show {
        transition: opacity 0.3s;
        opacity: 1 !important;
    }
    &.hover-active {
        svg {
            path {
                stroke: $primary;
            }
        }
    }
}

canvas {
    filter: blur(8px);
    z-index: 1;
    position: fixed;
    top: 0;
}

#cookie-box {
    padding: 12px 24px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    background: $white;
    z-index: 99;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 0.4s ease;
    &.show {
        transition: opacity 0.8s ease, filter 0.8s ease;
        opacity: 1 !important; 
        filter: blur(0px);
    }
    &.hidden {
        transition: opacity 0.4s ease, filter 0.4s ease;
        opacity: 0 !important;
        filter: blur(10px);
        pointer-events: none;
      }
    @include media-sm {
        width: 100%;
        height: auto;
        padding: 0px 20px;
    }
    a,p, button {
      color: $black;
      font-size: 14px;
      cursor: pointer;
    }
    a {
        transition: all 0.3s;
        &:hover {
            filter: blur(0.6px);
            transition: all 0.3s;
        }  
    }
  }