    @font-face {
        font-family: 'Phenomena-Bold';
        src: url("../fonts/Phenomena-Bold.woff2") format("woff2");
        font-style: normal;
    }
    @font-face {
        font-family: 'Phenomena-Regular';
        src: url("../fonts/Phenomena-Regular.woff2") format("woff2");
        font-style: normal;
    }
    @font-face {
        font-family: 'Phenomena-Light';
        src: url("../fonts/Phenomena-Light.woff2") format("woff2");
        font-style: normal;
    }

    @font-face {
      font-family: 'SofiaSans-Light';
      src: url("../fonts/SofiaSans-Light.woff2") format("woff2");
      font-style: normal;
    }
    @font-face {
      font-family: 'SofiaSans-Regular';
      src: url("../fonts/SofiaSans-Regular.woff2") format("woff2");
      font-style: normal;
    }
    @font-face {
      font-family: 'SofiaSans-Medium';
      src: url("../fonts/SofiaSans-Medium.woff2") format("woff2");
      font-style: normal;
    }
    @font-face {
      font-family: 'SofiaSans-Bold';
      src: url("../fonts/SofiaSans-Bold.woff2") format("woff2");
      font-style: normal;
    }