footer {
    height: 50px;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 99;
    background: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 20px;
    .socials-wrapper {
        svg {
            width: 20px;
            height: 20px;
        }
    }
  }