header {
    position: fixed;
    width: 100%;
    z-index: 101;
    opacity: 0;
    @include media-tablet {
      height: 68px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: transparent !important;
      // &::after {
      //   position: absolute;
      //   content: "";
      //   top: 0;right: 0;left: 0;bottom: 0;
      //   width: 100%;
      //   height: 100%;
      //   background-color: var(--background-color);
      //   opacity: 0.9;
      //   z-index: -1;
      //   transition: background-color 1.2s cubic-bezier(0.4, 0, 0.68, 0.06);
      // }
    }
    filter: blur(10px);
    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 36px;
        height: 60px;
        display: flex;
        align-items: center;
        @include media-tablet {
          top: 4px;
        }
    }

// Menu button   
.menu-toggle {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 120px;
    height: 60px;
    background-color: transparent;
    border-radius: 2px;
    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: right;
    cursor: pointer;
    z-index: 2;
    @include media-tablet {
      top: 4px;
    }
  }
  
  .menu-copy p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  
  // .menu-toggle.opened .menu-copy {
  //   opacity: 0;
  // }

  /* Keyframes for blink effect */
@keyframes blink {
    0%, 100% {
        opacity: 0;; /* Normal brightness */
      }
      50% {
        opacity: 1;; /* Normal brightness */
    }
}
  
  .menu-toggle-icon {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    clip-path: circle(10% at 50% 50%);
    background-color: $primary;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 10;
    overflow: hidden;
    animation: blink 2s infinite;
  }

  /* Blink animation */
  .menu-toggle:hover .menu-toggle-icon {
    animation: none;
}

.menu-toggle.opened .menu-toggle-icon {

    animation: none;
  }

  .menu-copy {
    position: absolute;
    top: 52%;
    left: 30px;
    transform: translateY(-50%);
    transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
  }
  
  .menu-copy p {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    padding: 0;
    mix-blend-mode: difference;
    color: $white;
  }
  
  .menu-bar {
    position: absolute;
    width: 15px;
    height: 1.5px;
    background: white;
    transition-property: transform;
    transition: all 250ms ease-out;
  }
  
  .menu-bar[data-position="top"] {
    transform: translateY(0px) rotate(90deg);
  }
  
  .menu-bar[data-position="bottom"] {
    transform: translateY(0px);
  }
}

// Menu 

.menu {
    width: 100vw;
    height: auto;
    position: fixed;
    z-index: 100;
    background-color: $white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    bottom: 0;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    .logo {
        font-size: 36px;
    }
    .logo-heading {
      @include media-tablet {
        position: absolute;
        right: 8px;
        left: auto;
        bottom: 0;
      }
      @include media-sm {
        position: absolute;
        right: auto;
        left: 8px;
        bottom: 2px;
      }
        h2 {
            font-size: 172px;
            color: $black;
            line-height: 1;
            filter: blur(0.5px);
            @include media-tablet {
              font-size: 124px;
            }
            @include media-sm {
              font-size: 112px;
            }
            div {
              color: $black;
              font-family: 'Phenomena-Bold', sans-serif;
            }
        }
    }
    .video-wrapper {
        width: 100%;
        aspect-ratio: 16/9;
        position: relative;
        overflow: hidden;
        video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
        .video-wrapper::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            opacity: 0; 
            pointer-events: none; 
            transition: opacity 1s ease-out;
            }
    .links {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .link {
          &.active {
            pointer-events: none;
            a::before {
              content: "";
              position: absolute;
              left: -60px;
              top: 50%;
              transform: translateY(-50%);
              width: 80px;
              height: 80px;
              clip-path: circle(10% at 50% 50%);
              background-color: #C83030;
              transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
              overflow: hidden;
              animation: blink 2s infinite;
            }
          }
          a {
              position: relative;
              font-size: 36px;
              color:$black;
            }
        }
    }
    .grid {
        height: auto;
        padding: 24px;
        @include media-tablet {
          padding: 42px;
          gap: 42px;  
          padding-bottom: 140px;
        }
    }
    .socials {
      align-items: flex-start;
       a {
        color: $black;
       }
    }
}

.menu-copy {
  &.move {
    left: 0;
  }
}
.close-text {
  &.show {
    opacity: 1;
  }
}
.open-text {
  &.hide {
    opacity: 0;
  }
}

main {
  div {
    transition: filter 0.8s;
  }
  &.bg-blur-remove {
    span, p, a, h1, h2, h3, h4, svg, img, form, canvas, nav, figure, .marquee  {
      transition: filter 0.8s;
    } 
  }
  &.bg-blur {
    .columns, img {
      overflow: visible !important; 
    }
    .mobile-steps {
      filter: blur(4px) !important;
      .main-image {
        filter: blur(0) !important;
      }
    }
    .step {
      filter: blur(4px) !important;
      .main-image {
        filter: blur(0) !important;
      }
    }
    cursor: pointer;
    z-index: 3;
    pointer-events: none;
    span, p, a, h1, h2, h3, h4, svg, img, form, canvas, nav, figure, .marquee  {
      filter: blur(4px) !important;
      pointer-events: none;
      transition: filter 0.8s;
      .item__image, .item__caption-title {
        pointer-events: none;
      }
    }
  }
}

@include media-tablet {
  header, .show-text-trigger-wrapper  {
      background-color: transparent !important;
      backdrop-filter: blur(0px);
      &.backdrop {
        backdrop-filter: blur(3px);
        transition: backdrop-filter 0.3s;
      }
  }
}