header {
    position: fixed;
    width: 100%;
    z-index: 9;
    .logo {
        position: absolute;
        top: 24px;
        left: 24px;
        font-size: 36px;
        height: 60px;
        display: flex;
        align-items: center;
    }

// Menu button   

.menu-toggle {
    position: absolute;
    top: 24px;
    right: 12px;
    width: 120px;
    height: 60px;
    background-color: $black;
    border-radius: 8em;
    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: right;
    cursor: pointer;
    z-index: 2;
  }
  
  .menu-toggle.opened {
    width: 60px;
  }

  .menu-copy p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  
  .menu-toggle:hover .menu-copy {
    left: 20px;
  }
  
  .menu-toggle.opened .menu-copy {
    opacity: 0;
  }
  /* Keyframes for blink effect */
@keyframes blink {
    0%, 100% {
        filter: brightness(0); /* Normal brightness */
    }
    50% {
        filter: brightness(1); /* Flash effect */
    }
}
  
  .menu-toggle-icon {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    clip-path: circle(10% at 50% 50%);
    background-color: $primary;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 10;
    overflow: hidden;
    animation: blink 2s infinite;
  }
    /* Blink animation */
  
  .menu-toggle:hover .menu-toggle-icon {
    clip-path: circle(35% at 50% 50%);
    animation: none;
}

.menu-toggle.opened .menu-toggle-icon {
    clip-path: circle(50% at 50% 50%);
    transform: scale(1.125);
    animation: none;
  }

  .menu-copy {
    position: absolute;
    top: 52%;
    left: 30px;
    transform: translateY(-50%);
    color: $white;
    transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
  }
  
  .menu-copy p {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  .menu-toggle:hover .menu-copy {
    left: 20px;
  }
  
  .menu-toggle.opened .menu-copy {
    opacity: 0;
  }
  
  .hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
  }
  
  .menu-toggle:hover .hamburger,
  .menu-toggle.opened .hamburger {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  
  .menu-toggle.opened .hamburger {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .menu-bar {
    position: absolute;
    width: 15px;
    height: 1.5px;
    background: white;
    transition-property: transform;
    transition: all 250ms ease-out;
  }
  
  .menu-bar[data-position="top"] {
    transform: translateY(0px) rotate(90deg);
  }
  
  .menu-bar[data-position="bottom"] {
    transform: translateY(0px);
  }
}

// Menu 

.menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: $black;
    top: 0;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    .logo {
        font-size: 36px;
    }
    .logo-heading {
        h2 {
            font-size: 172px;
            span {
                font-family: 'Phenomena-Regular', sans-serif;
            }
        }
    }
    .video-wrapper {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
      }
      .video-wrapper::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 4px solid white; 
        opacity: 0; 
        border-radius: 4px;
        pointer-events: none; 
        transition: opacity 0.5s ease;
      }
    .video-wrapper.inner-border-active::after {
            opacity: 1;
        }
    .links {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .link {
            a {
                font-size: 36px;
            }
        }
    }
    .grid {
        height: 100vh;
        padding: 24px;
    }
}