:root {
    --background-color: #121619;
}
body, header, #show-text-trigger-wrapper {
    background-color: var(--background-color);
    transition: background-color 1.2s cubic-bezier(0.4, 0, 0.68, 0.06);
}

header {
    background: linear-gradient(transparent 0%, transparent 100%);
}
#popup-wrapper {
    background-color: var(--background-color);
}
.footer-fixed, .footer-end  {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    transition: clip-path 0.1s linear;
    visibility: hidden;
}

#contacts {
    height: calc(100vh + 1px);
}

@media (min-width: 1024px)  {
    #contacts {
        height: auto;
    }
    
}